{{/* layouts/partials/app-sections.html */}}
{{ $app := . }}

{{ with (or $app.Params.features $app.Params.app.features) }}
    {{ partial "features.html" . }}
{{ end }}

{{ with (or $app.Params.how_it_works $app.Params.app.how_it_works) }}
    {{ partial "how-it-works.html" . }}
{{ end }}

{{ with (or $app.Params.testimonials $app.Params.app.testimonials) }}
    {{ partial "testimonials.html" . }}
{{ end }}

{{ with (or $app.Params.faq $app.Params.app.faq) }}
    {{ partial "faq.html" . }}
{{ end }}

{{ with (or $app.Params.cta $app.Params.app.cta) }}
    {{ partial "cta.html" . }}
{{ end }}
